apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: gamelink
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: gamelink.dev.smedialink.com
    http:
      paths:
      - path: /*
        backend:
          serviceName: gamelink
          servicePort: 80
  tls:
  - hosts:
    - gamelink.dev.smedialink.com
    secretName: gamelink-tls